/* Our-Way-of-Thinking */
#Our-Way-of-Thinking {
  color: var(--primary-gray);
}
#Our-Way-of-Thinking h1 {
  font-size: var(--subheading-font-size);
  font-weight: var(--primary-font-weight);
  color: var(--primary-black);
}
#Our-Way-of-Thinking .boxes {
  background-color: #f7f7f7;
  height: 250px;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 8px;
}
#Our-Way-of-Thinking .boxes p {
  color: var(--primary-gray);
  font-size: var(--midium-text-font-size);
}
#Our-Way-of-Thinking .boxes h2 {
  color: var(--primary-red);
  font-size: var(--big-text-font-size);
  font-weight: var(--primary-font-weight);
}
/* Our-Way-of-Thinking */

/* Our-Branches */
#Our-Branches .locations {
  padding: 5px 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 #0000001a;
}
#Our-Branches .location-icon {
  width: 18px;
}
#Our-Branches .bangladeshMap {
  width: 100%;
}
/* Our-Branches */

/* What-We-Do */
#What-We-Do .small-heading {
  color: var(--secondary-black);
}
#What-We-Do p {
  color: var(--primary-gray);
}
#What-We-Do .boxes {
  background-color: #f7f7f7;
  padding: 1rem;
  height: 300px;
}
#What-We-Do .boxes img {
  background-color: red;
  padding: 1rem;
  border-radius: 10px;
}
/* What-We-Do */

/* Why-Coaching-Study-Canada */
#Why-Coaching-Study-Canada {
  color: white;
}
#Why-Coaching-Study-Canada .students-img {
  aspect-ratio: 54/60;
  max-height: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 15px 15px 2px #001a54;
}

#Why-Coaching-Study-Canada .text-box-container .box img {
  width: 50px;
  height: 50px;
}
#Why-Coaching-Study-Canada .text-box-container .box .heading-text {
  font-size: var(--midium-text-font-size);
  font-weight: var(--secondary-font-weight);
}
/* Why-Coaching-Study-Canada */

/* Our-Leadership */
#Our-Leadership .floating-leaf {
  position: absolute;
  right: 0;
  top: -30px;
}
#Our-Leadership .boxes {
  background-color: var(--secondary-white);
  padding: 2rem;
}
#Our-Leadership .leader1-img {
  aspect-ratio: 24/24;
  width: 240px;
  border-radius: 10px;
}

#Our-Leadership .boxes .heading {
  font-size: xx-large;
  margin-bottom: 0;
  color: var(--primary-red);
}
#Our-Leadership .boxes .subheading {
  font-size: large;
}
#Our-Leadership .boxes .intro span {
  color: var(--primary-red);
  font-weight: 600;
}

#Our-Leadership .social-box .icon-box {
  background-color: green;
  padding: 0.5rem;
  border-radius: 5px;
}
#Our-Leadership .social-box .icons {
  width: 25px;
  height: 25px;
}

#Our-Leadership .social-box .facebook {
  background-color: #0e5da5;
}
#Our-Leadership .social-box .twitter {
  background-color: #469cec;
}
#Our-Leadership .social-box .instagram {
  background: linear-gradient(
    228.01deg,
    #ff0b80 0%,
    #c442c7 50.81%,
    #3167f2 95.26%
  );
}
/* Our-Leadership */
