@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --subheading-font-size: xx-large;
  --big-text-font-size: x-large;
  --midium-text-font-size: large;
  --secondary-white: rgb(247, 247, 247);
  --primary-gray: #555555;
  --gray-white: rgba(238, 238, 238, 1);
  --primary-black: #111111;
  --secondary-black: #333333;
  --primary-red: rgb(229, 0, 25);
  --primary-blue: #0e5da5;
  --dark-blue: rgba(18, 26, 80, 1);
  --brown: #bb5d5d;
  --violet: #4b56a5;
  --pink: #b83885;
  --green: #41a68e;

  --primary-font-weight: 700;
  --secondary-font-weight: 600;
}

/* Section Tamplate
<section class="wraper">
  <div class="container">
    <div class="row">
      <div class="clo"></div>
      <div class="clo"></div>
    </div>
  </div>
</section>
Section Tamplate */

/* Colors  */
.bg-red {
  background-color: var(--primary-red)!important;
}
.bg-sec-white {
  background-color: var(--secondary-white) !important;
}
.bg-dark-blue {
  background-color: var(--dark-blue) !important;
}

.color-red {
  color: var(--primary-red);
}
.color-dark-blue {
  color: var(--dark-blue);
}
.color-yellow {
  color: yellow;
}
.color-black {
  color: var(--primary-black);
}

.wraper {
  width: 100%;
}
.max-container {
  max-width: 1500px;
  margin: auto;
}
.section-margin {
  margin: 3rem 0;
}
.top-big-margin {
  margin-top: 7rem;
  @media (width<768px) {
    margin-top: 2rem;
  }
}
.section-padding {
  padding: 3rem 0;
  @media (width<768px) {
    padding: 1rem 0;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}
.heading {
  font-weight: 700;
}
.heading-red {
  color: #e50019;
  font-weight: 700;
}

.subheading {
  font-weight: 600;
  color: #333333;
}

.small-heading {
  font-size: var(--big-text-font-size);
  font-weight: var(--primary-font-weight);
  color: var(--primary-black);
}

.minus-index {
  z-index: -1 !important;
}

/* Buttons */
.btn-p {
  padding: 10px 15px;
}

/* list */
ul {
  list-style: circle;
  li {
    margin-bottom: 0.7rem;
  }
}
