/* NAVBAR */
/* navbox1's styles starts here */
#navbox1-wraper {
  background-color: #eeeeee;
  width: 100%;
}
#navbox1 {
  max-width: 1500px;
  margin: auto;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

/* Input boxe */
#navbox1 .inputBox {
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
#navbox1 .inputBox input {
  width: 90%;
  height: 45px;
  outline: none;
  border: none;
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 1rem;
  font-weight: 600;
}

#navbox1 .inputBox #searchIcon,
#navbox1 .inputBox #searchIconBg {
  position: absolute;
  right: 55px;
  top: 2px;
}
#navbox1 .inputBox #searchIcon {
  top: 14px;
  right: 67px;
}
/* Input boxe */
/* navbox1's styles ends here */

/* navbox2's styles starts here */
#navbox2-wraper {
  background-color: #f7f7f7;
}
#navbox2 {
  max-width: 1500px;
  margin: auto;
  background-color: #f7f7f7;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

#navbox2 ul {
  max-width: 1140px;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: auto 0;
}
#navbox2 ul li a {
  all: unset;
  /* font-size: 18px; */
  font-size: small;
  cursor: pointer;
}

#navbox2 .icons {
  padding: 0.8rem;
  width: 50px;
  height: 50px;
}

#navbox2 #mail {
  background-color: #e5319a;
}
#navbox2 #facebook {
  background-color: #0e5da5;
}
#navbox2 #twitter {
  background-color: #469cec;
}
#navbox2 #instagram {
  background: linear-gradient(
    228.01deg,
    #ff0b80 0%,
    #c442c7 50.81%,
    #3167f2 95.26%
  );
}
#navbox2 #whatsapp {
  background-color: #10ad29;
}
#navbox2 #youtube {
  background-color: #e91d1d;
}

#navbox2 .burger-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* For Drop-down-menu */
#services-li {
  #services-drop-menu {
    position: absolute;
    background-color: var(--secondary-white);
    border-radius: 5px;
    z-index: 20;
    display: none;
    ul {
      padding: 1rem;
      gap: 0;
    }
  }
  &:hover #services-drop-menu {
    display: block;
  }
}
#fild-a-course-li {
  #fild-a-course-drop-menu {
    position: absolute;
    background-color: var(--secondary-white);
    border-radius: 5px;
    z-index: 20;
    display: none;
    ul {
      padding: 1rem;
      gap: 0;
    }
  }
  &:hover #fild-a-course-drop-menu {
    display: block;
  }
}
#Student-Esentials-li {
  #Student-Esentials-drop-menu {
    position: absolute;
    background-color: var(--secondary-white);
    border-radius: 5px;
    z-index: 20;
    display: none;
    ul {
      padding: 1rem;
      gap: 0;
    }
  }
  &:hover #Student-Esentials-drop-menu {
    display: block;
  }
}

#Study-Canada-li {
  #Study-Canada-drop-menu {
    position: absolute;
    background-color: var(--secondary-white);
    border-radius: 5px;
    z-index: 20;
    display: none;
    ul {
      min-width: 200px;
      padding: 1rem;
      gap: 0;
    }
  }
  &:hover #Study-Canada-drop-menu {
    display: block;
  }
}
/* For Drop-down-menu */

/* navbox2's styles ends here */

/* Side menubar styles starts here */
#side-menu ul {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
}
#side-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#side-menu ul li a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

#side-menu-close-btn {
  all: unset;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 110;
  color: black;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
}

.side-menu-hidden {
  display: none;
}
/* Side menubar styles ends here */
/* NAVBAR */

/* Common Hero Slides Section */
.common-hero-sections-floating-leaf {
  position: absolute;
  top: 0;
  left: -30px;
  z-index: 10;
}

#slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
.slide {
  width: 100%;
  background-image: url("/asset/images/slides-image/slide-img1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill 1
    linear-gradient(rgba(31, 30, 30, 0.726), rgba(0, 0, 0, 0.685));
  color: white;
  transition: all 0.5s ease;
  display: none;
  text-wrap: balance;
}
.slide a {
  text-decoration: none;
  color: red;
}
#slide2 {
  background-image: url("/asset/images/slides-image/slide-img2.png");
}
#slide3 {
  background-image: url("/asset/images/slides-image/slide-img3.png");
}
.current-slide {
  display: block;
}
.slide-content {
  height: 500px;
  width: 60%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
  @media (width<768px) {
    width: 90%;
    margin-left: 1.5rem;
  }
}

.slider-btns-box {
  background-color: #fffdfd;
  position: relative;
  z-index: 100;
  bottom: 75px;
  left: 45px;
  width: 100px;
  gap: 8px;
  padding: 10px 64px;
  border-radius: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.212),
    inset 10px 10px 20px rgba(0, 0, 0, 0.212);
}
.slider-btns-box span {
  width: 2px;
  height: 100%;
}

.slider-btns-box .left-icon,
.slider-btns-box .right-icon {
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btns-box .left-icon {
  background-color: #e91d1d;
}
.slider-btns-box .right-icon {
  background-color: #ffe0cf;
}
/* Common Hero Slides Section */

/* Our-Infrastructure  */
#Our-Infrastructure-global {
  .floating-leaf {
    position: absolute;
    right: 0;
    z-index: 10;
    transform: rotate(270deg);
  }
  h1 {
    color: var(--primary-black);
  }
  .img-box {
    position: relative;
    padding-left: 1rem;
    margin-top: 7rem;
    @media (width<768px) {
      margin-top: 1rem;
    }
  }
  .back-box {
    border-left: 10px solid #dddddd;
    border-bottom: 10px solid #dddddd;
    border-bottom-left-radius: 40px;
    height: 100%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .img-box img {
    width: 80%;
    border-radius: 5px;
    aspect-ratio: 570/ 430;
  }

  #play-btn {
    width: 90px;
    padding: 8px 30px;
    border: none;
    outline: none;
    background-color: aliceblue;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 40%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .play-btn-img {
    margin-right: 5px;
    height: auto;
  }

  .text-box {
    color: var(--primary-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .text-box h2 {
    font-size: var(--subheading-font-size);
    color: var(--primary-black);
    margin-bottom: 2rem;
  }
  .text-box .data-box p {
    color: var(--secondary-black);
    font-size: var(--midium-text-font-size);
  }
  .text-box .data-box span {
    color: var(--primary-red);
    font-weight: var(--primary-font-weight);
    font-size: var(--big-text-font-size);
  }
}
/* Our-Infrastructure  */

/* Our-Student-Review */
#Our-Student-Review-global {
  .floating-leaf {
    position: absolute;
    left: 50%;
    top: -20px;
    opacity: 0.5;
  }
  .boxes {
    height: fit-content;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 18px 40px 0 rgba(0, 0, 0, 0.1);
  }
  .boxes .Student-img {
    aspect-ratio: 57/36;
    width: 95%;
    border-radius: 5px;
  }
  .boxes .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .inner-box {
    width: fit-content;
  }
  .inner-box span {
    font-size: large;
    font-weight: 500;
  }
}
/* Our-Student-Review */

/* Free-online-Profile-Assessment-global */
#Free-online-Profile-Assessment-global {
  margin-bottom: 7rem;
  .border-left-raiouse {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .secondary-bg {
    background-color: var(--secondary-white);
  }
  .red {
    color: var(--primary-red);
  }
  h2 {
    margin-bottom: 2rem;
  }
  .img-box {
    height: 100%;
    min-height: 600px;
    background-image: url("/asset/images/form-bg.png");
    background-size: cover;
    background-position: center;
    background-color: red;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .form-box {
    padding: 2rem;
    height: 100%;
    color: var(--primary-black);

    .form-container {
      width: 100%;
      padding-right: 1rem;

      input {
        all: unset;
        background-color: white;
        padding: 1rem 0;
        padding-left: 1rem;
        max-width: 100%;
      }
      select {
        border: none;
        outline: none;
        padding: 1rem 0;
        padding-left: 1rem;
        &:focus {
          box-shadow: none;
        }
      }
      label {
        font-size: larger;
        color: var(--primary-black);
      }
      .submit-btn {
        all: unset;
        background-color: var(--primary-red);
        width: 100%;
        color: white;
        font-size: larger;
        text-align: center;
        padding: 8px 0;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
/* Free-online-Profile-Assessment-global */

/* Contact-form section starts here */
#Contact-form {
  padding: 4rem 0;
  margin-top: 3rem;
}

#Contact-form form {
  position: relative;
  font-weight: 500;
  color: #555555;
}
#Contact-form .inputs-box {
  margin-top: 3rem;
}

#Contact-form .Contact-form-float-img {
  position: absolute;
  width: 95px;
  height: 95px;
  z-index: -1;
  left: 18%;
}

#Contact-form input,
#Contact-form textarea {
  background-color: #f8f8f8;
}
#Contact-form form input {
  height: 50px;
}
#Contact-form textarea {
  height: 128px;
  margin-bottom: 20px;
}
#Contact-form button {
  all: unset;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
/* Contact-form section ends here */

/* Partnership section starts here */
#Partnership {
  padding: 4rem 0;
  margin-top: 3rem;
}
#Partnership #partnership-slider-box {
  width: max-content;
  padding-right: 0.5rem;
}

#Partnership #partnership-slider-box .left-icon {
  transform: rotateY(180deg);
}

#Partnership #partnership-slider-box .icon {
  padding: 12px 16px;
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.158);
}
#Partnership #partnership-slider-box .icon:hover {
  background-color: #ffe8e8;
}

#Partnership .card {
  transition: all 0.2s linear;
}
#Partnership .card:hover {
  box-shadow: 0 30px 50px #00000026;
}
#Partnership img {
  width: 100%;
  max-width: 150px;
}
/* Partnership section ends here */

/* Referral Program section starts here */
#Referral-Program {
  padding: 2rem 0;
}
#Referral-Program h2 {
  margin-bottom: 1rem;
}
#Referral-Program .cards {
  /* width: 380px; */
  color: white;
  background-color: white;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 12px;
  transition: all 0.2s linear;
}
#Referral-Program .cards:hover {
  box-shadow: 0 12px 30px #0000001a;
}
#Referral-Program .cards .date {
  background-color: #0e5da5;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: larger;
  font-weight: 700;
  text-align: center;
}
#Referral-Program .cards .text {
  color: #111111;
  font-weight: 600;
}
#Referral-Program .cards a {
  color: red;
  text-decoration: none;
  font-weight: 600;
}
/* Referral Program section ends here */

/* FAQ section starts here */
#faq-section {
  padding: 6rem 0 4rem 0;
  margin-top: 3rem;
  background-color: #f7f7f7;
  position: relative;
  z-index: 10;
}
#faq-section .faq-section-floating-img {
  position: absolute;
  width: 170px;
  left: 0;
  top: 0;
  transform: rotateY(-180deg);
  z-index: 1;
}

#faq-section p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

#faq-section .qna-box {
  border: 1px solid #aaaaaa;
}
#faq-section .qna-box span {
  background: #0e5da5;
  padding: 12px 18px;
  border-radius: 100%;
  color: white;
  font-weight: 600;
}

#faq-section .answer {
  border-top: 1px solid #aaaaaa;
}

#faq-section .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out; /* Animation */
  padding: 0; /* Set padding to 0 initially */
  border: none;
}

#faq-section .open {
  max-height: 300px; /* Adjust max-height depending on content */
  padding: 10px 15px; /* Add padding when open */
}

#faq-section .toggle-icon {
  cursor: pointer;
  float: right;
  transition: transform 0.3s ease;
}
/* FAQ section ends here */

/* footer  section ends here */
#footer {
  padding: 1rem;
  padding-top: 4rem;
  margin-top: 3rem;
  background-color: #12173d;
  color: #ffffff;
  font-weight: 600;
}

#footer .boxes {
  padding-right: 2rem;
}

#footer .icons-box {
  background-color: #ffffff33;
  padding: 12px 10px;
  border-radius: 5px;
}
#footer .icons-box .icon {
  width: 25px;
  height: 25px;
}

#footer ul {
  list-style: square;
}
#footer ul a {
  text-decoration: none;
  color: white;
}

#footer .last-ul-container ul {
  list-style: none;
}
#footer .last-ul-container img {
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: #71748b;
  border-radius: 100%;
  margin-right: 12px;
}

#footer .lines {
  height: 5px;
  width: 100%;
  background: linear-gradient(80deg, white, #12173d);
}

#footer .box-2 {
  border-top: 1px solid #ffffff4d;
  margin-top: 3rem;
  padding-top: 1rem;
  text-align: center;
}
/* footer section ends here */

/* Buttons */
.hero-button {
  all: unset;
  width: 220px;
  height: 50px;
  border-radius: 8px;
  color: #e91d1d;
  background-color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
.red-button {
  all: unset;
  min-width: 220px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: var(--primary-red);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
.dark-blue-button {
  all: unset;
  min-width: 220px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: var(--dark-blue);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.red-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}
.white-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.blue-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--primary-blue);
  border-radius: 50%;
  margin-right: 5px;
}
.red-border-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  padding: 4px;
  border: 4px solid red;
  border-radius: 50%;
  margin-right: 5px;
}
