@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
:root {
  --subheading-font-size: xx-large;
  --big-text-font-size: x-large;
  --midium-text-font-size: large;
  --secondary-white: #f7f7f7;
  --primary-gray: #555555;
  --gray-white: rgba(238, 238, 238, 1);
  --primary-black: #111111;
  --secondary-black: #333333;
  --primary-red: #e50019;
  --primary-blue: #0E5DA5;
  --dark-blue: rgba(18, 26, 80, 1);
  --primary-font-weight: 700;
  --secondary-font-weight: 600;
}

/* Colors  */
.bg-red {
  background-color: var(--primary-red);
}
.bg-sec-white {
  background-color: var(--secondary-white);
}
.color-red {
  color: var(--primary-red);
}
.color-yellow {
  color: yellow;
}
.color-black {
  color: var(--primary-black);
}

.wraper {
  width: 100%;
}
.max-container {
  max-width: 1500px;
  margin: auto;
}
.section-margin {
  margin: 3rem 0;
}
.top-big-margin {
  margin-top: 7rem;
}
.section-padding {
  padding: 3rem 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}
.heading {
  font-weight: 700;
}
.heading-red {
  color: #e50019;
  font-weight: 700;
}

.subheading {
  font-weight: 600;
  color: #333333;
}

.small-heading {
  font-size: var(--big-text-font-size);
  font-weight: var(--primary-font-weight);
  color: var(--primary-black);
}

.minus-index {
  z-index: -1 !important;
}

/* Buttons */
.btn-p {
  padding: 10px 15px;
}

/* list */
ul {
  list-style: circle;
  li {
    margin-bottom: 0.7rem;
  }
}
