#Our-Service {
  .boxes {
    background-color: #f7f7f7;
    padding: 1.5rem;
    width: 100%;

    .filter-img {
      background-color: red;
      padding: 1rem;
      border-radius: 10px;
    }
    a {
      text-decoration: none;
      color: var(--primary-red);
    }
  }
}

#Working-for-Students {
  margin: 7rem 0;
}

.Selection-Assistance-style {
  margin-top: 8rem;
  .boxes {
    width: 100%;

    .assistance-img {
      width: 100%;
      border-radius: 10px;
    }
    .subheading {
      font-size: larger;
    }
    ul {
      list-style: none;
      padding: 0;
      .red-dot {
        color: var(--primary-red);
      }
    }
  }
}

/* SubPage --> Student-Profile-Analysis-By-Study-Canada */
#Student-Profile-Analysis-By-Study-Canada {
  .floating-leaf {
    position: absolute;
    right: 0;
    opacity: 0.5;
    z-index: 10;
    top: -100px;
  }
  .card {
    background-color: var(--gray-white);
    padding: 1rem;
    border-radius: 10px;
    border: none;
    min-height: 390px;
    display: flex;
    justify-content: space-evenly;
    .img-box {
      background-color: white;
      width: 100px;
      height: 100px;
      text-align: center;
      border-radius: 50%;
      #logo {
        width: 70px;
        height: auto;
      }
    }
    .box-btn {
      margin-bottom: 8px;
    }
  }
}